html{
    background-color: #000000e1;
}

#title{
    font-size: 8rem;
    position: absolute;
    left: 42.5%;
    top: 5%;
    color: #c53636de;
    font-family: 'Righteous';
    font-style: italic;
}

#titleBox{
    width: 100%;
    height: 30vh;
}

#description{
    font-size: 3rem;
    position: absolute;
    left: 38%;
    top: 32%;
    color: #c53636de;
    font-family: 'Mulish';
}

#descriptionBox{
    width: 100%;
    height: 30vh;
    top: 24%;
}

#browseButton{
    width: 15%;
    height: 8vh;
    font-size: large;
    font-weight: 800;
    position: absolute;
    top: 70%;
    left: 45%;
    background-color: #000;
    border-radius: 15px;
    border: 2px solid #000;
    overflow: hidden;
    color: #c53636de;
}

#browseButton:hover{
    color: #000;
    z-index: 1;
}

#browseButton:hover::after{
    transform: translate(0);
}

#browseButton::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: #c53636de;
    z-index: -1;
    transform: translate(0,100%);
    transition: all .25s ease;
}

#serverIcon{
    font-size: 6rem;
    position: absolute;
    left: 50%;
    top: 53%;
    color: #c53636de;
}

#videoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 1;
    column-gap: 0;
    height: 100vh;
}

#videoDiv button{
    width: 17vw;
}

.videos{
    display: inline-block;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    background-color: #c53636ce;
    font-size: 1em;
    font-family: 'Mulish';
    font-weight: 1000;
}

.videos a {
    text-decoration: none;
    color: #000;
}

.ext{
    color: #c53636ce;
    font-weight: 800;
    font-size: 1.2rem;
    margin-top: -45px;
    margin-bottom: 30px;
    margin-left: 18.5vw;
}